*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background: black;
  color: white;
}

/* HERO SECTION */

.hero{
  position: relative;

  height: 100vh;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* NAVBAR */

.navbar{
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 25px 60px;

  background: rgba(0,0,0,0.2);

  backdrop-filter: blur(10px);

  z-index: 1000;
}
.logo{
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 3px;
}

.nav-links{
  display: flex;
  gap: 30px;

  list-style: none;
}

.nav-links a{
  color: white;
  text-decoration: none;

  transition: 0.3s;
}

.nav-links a:hover{
  opacity: 0.6;
}

/* HERO CONTENT */

.hero-content{
  position: absolute;

  left: 6%;
  top: 50%;

  transform: translateY(-50%);

  max-width: 600px;

  z-index: 2;
}

.hero-content h2{
  font-size: 4rem;
  margin-bottom: 20px;
}

.hero-content p{
  font-size: 1.2rem;
  line-height: 1.8;

  margin-bottom: 30px;

  color: #d1d1d1;
}

.hero-content button{
  width: 220px;

  padding: 15px;

  border: none;

  background: white;
  color: black;

  font-size: 1rem;
  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

.hero-content button:hover{
  transform: scale(1.05);
}
.fade-in{
  animation: fadeIn 2s ease;
}

@keyframes fadeIn{
  from{
    opacity: 0;
    transform: translateY(30px);
  }

  to{
    opacity: 1;
    transform: translateY(0);
  }
}
/* GALLERY */

.gallery{
  padding: 100px 80px;

  background: #0d0d0d;
}

.gallery h2{
  font-size: 3rem;

  margin-bottom: 50px;
}

.gallery-grid{
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));

  gap: 25px;
}

.photo{
  overflow: hidden;

  border-radius: 20px;

  cursor: pointer;
}

.photo img{
  width: 100%;
  height: 400px;

  object-fit: cover;

  transition: 0.5s;
}

.photo:hover img{
  transform: scale(1.08);
}

.photo{
  transition: transform 0.4s ease;
}

.photo:hover{
  transform: translateY(-10px);
}

.photo{
  position: relative;
}

.photo-info{
  position: absolute;

  bottom: 0;

  width: 100%;

  padding: 25px;

  background: linear-gradient(
    transparent,
    rgba(0,0,0,0.9)
  );

  opacity: 0;

  transition: 0.5s;
}

.photo-info h3{
  font-size: 1.5rem;

  margin-bottom: 10px;
}

.photo-info p{
  color: #d1d1d1;
}

.photo:hover .photo-info{
  opacity: 1;
}

/* RESPONSIVE */

@media(max-width: 768px){

  .navbar{
    padding: 20px;
  }

  .nav-links{
    gap: 15px;

    font-size: 0.9rem;
  }

  .hero-content{
    padding: 30px;
  }

  .hero-content h2{
    font-size: 2.5rem;
  }

  .hero-content p{
    font-size: 1rem;
  }

  .gallery{
    padding: 60px 30px;
  }

  .gallery h2{
    font-size: 2rem;
  }

}

/* MENU HAMBURGUESA */

.menu-toggle{
  display: none;

  font-size: 2rem;

  cursor: pointer;
}

/* MOBILE */

@media(max-width: 768px){

  .menu-toggle{
    display: block;
  }

  .nav-links{
    position: absolute;

    top: 80px;
    right: 0;

    background: rgba(0,0,0,0.95);

    width: 100%;

    flex-direction: column;

    align-items: center;

    padding: 30px 0;

    gap: 20px;

    display: none;
  }

  .nav-links.active{
    display: flex;
  }

}
/* SCROLL ANIMATION */

.hidden{
  opacity: 0;

  transform: translateY(50px);

  transition: all 1s;
}

.show{
  opacity: 1;

  transform: translateY(0);
}
/* ARTIST SECTION */

.artist{
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));

  align-items: center;

  gap: 50px;

  padding: 100px 80px;

  background: black;
}

.artist-image img{
  width: 100%;

  border-radius: 20px;

  height: 600px;

  object-fit: cover;
}

.artist-content span{
  color: #888;

  letter-spacing: 3px;

  font-size: 0.9rem;
}

.artist-content h2{
  font-size: 4rem;

  margin: 20px 0;
}

.artist-content p{
  color: #d1d1d1;

  line-height: 1.8;

  margin-bottom: 30px;

  max-width: 500px;
}

.artist-content button{
  padding: 15px 30px;

  border: none;

  background: white;

  color: black;

  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

.artist-content button:hover{
  transform: scale(1.05);
}
/* LIGHTBOX */

.lightbox{
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.95);

  display: none;

  justify-content: center;
  align-items: center;

  z-index: 2000;
}

.lightbox img{
  width: 80%;
  max-width: 1000px;

  border-radius: 20px;
}

.close{
  position: absolute;

  top: 30px;
  right: 50px;

  font-size: 4rem;

  color: white;

  cursor: pointer;
}
/* LOADER */

.loader{
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: black;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 5000;

  transition: opacity 1s ease;
}

.loader h1{
  font-size: 4rem;

  letter-spacing: 10px;
}

/* CUSTOM CURSOR */

body{
  cursor: none;
}

.cursor{
  width: 20px;
  height: 20px;

  border: 2px solid white;

  border-radius: 50%;

  position: fixed;

  pointer-events: none;

  transform: translate(-50%, -50%);

  transition: transform 0.1s ease;

  z-index: 9999;
}
/* HERO VIDEO */

.hero-video{
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;

  z-index: -2;
}

.overlay{
  position: absolute;

  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.55);

  z-index: -1;
}